@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@layer base {
    @font-face {
        font-family: 'Maple Mono';
        font-style: normal;
        src: url(/fonts/MapleMono.ttf);
    }
    
    @font-face {
        font-family: 'Maple Mono';
        font-style: italic;
        src: url(/fonts/MapleMono-Italic.ttf);
    }

}
* {
    --input-font-family: var(--mantine-font-family-monospace);
    --input-error-size: var(--mantine-font-size-md) !important;
    --input-disabled-color: var(--input-color) !important;
}

.mantine-Textarea-error	{
    font-family: var(--mantine-font-family-monospace);
}